<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Bluechip</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{{ url_for('static', filename='log_css/style.css') }}">
    </head>
    <body>
        <div class="container clearfix">
            <div class="form pass-reset">
                <a class="logo" href="">
                    <img src="{{ url_for('static', filename='img/logo.jpg') }}" alt="Logo" />
                </a>
                <form>
                    <p>
                        <label>Username or email address<span>*</span></label>
                        <input type="email" required>
                    </p>
                    <p>
                        <label>
                            <a href="index.html">Got my password</a>
                        </label>
                        <input type="submit" value="Reset" />
                    </p>
                </form>
            </div>
        </div>
    </body>
</html>
